* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: rgb(12, 1, 1);
    position: sticky;
    z-index: 10;
    top: 0;
    z-index: 11;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: rgb(255, 253, 253);

    font-family: "Sen", sans-serif;
}

.logo-container {
    flex: 1;
}

.logo {
    font-size: 30px;
    color: rgb(102, 231, 63);
}

.menu-container {
    flex: 6;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item.active {
    font-weight: bold;
}

.menu-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu-link:hover {
    color: red;
}

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container {
    margin: 0 20px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon {
    color: rgb(202, 150, 17);
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: rgb(255, 255, 255);
}

.content-container {
    margin-left: 50px;
}

.featured-content {
    padding: 50px;
    height: 50vh;
}

.featured-title {
    width: 200px;
}

.featured-desc {
    width: 500px;
    color: white;
    margin: 30px 0;
}

/* .featured-button {

  
    color: rgb(3, 2, 2);
 

} */
.button-wow {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    transition: all 1s ease;
    cursor: pointer;
}
.a-wow {
    font-size: 1.2rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */

    color: rgb(248, 238, 238);
}
.button-wow::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 90%;
    /* top: 0;
    left: 0; */
    border: 3px solid;
    border-top: 2px solid #000;
    border-right: 2px solid rgb(199, 33, 33);
    border-bottom: 2px solid #000;
    border-left: 2px solid rgb(199, 33, 33);
    border-radius: 50%;
    transition: all 1s ease;
}

.button-wow:hover:before {
    transform: rotate(360deg) scale(1.3);
}

.movie-list-container {
    padding: 20px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-list-item-button {
    padding: 10px;
    background-color: rgb(102, 231, 63);
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

.container.active {
    background-color: white;
}

.menu-link.active {
    color: black;
}

.movie-list-title.active {
    color: rgb(0, 0, 0);
}

.navbar.active {
    background-color: white;
    color: black;
}

.navbar-container.active {
    color: black;
    background-color: white;
}

.sidebar.active.active {
    background-color: white;
}

.left-menu-icon.active {
    color: black;
}

.toggle.active {
    background-color: black;
}

.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px) {
    .menu-container {
        display: none;
    }
}

@media (max-width: 600px) {
    .featured-content {
        padding: 30px 40px;
    }
    .featured-title {
        width: 159px;
    }
    .featured-desc {
        width: auto;
        margin: 20px 0;
        font-size: 14px;
    }
    .button-wow {
        width: 100px;
        height: 100px;
    }
    .a-wow {
        font-size: 16px;
    }
    .movie-list-title {
        font-size: 26px;
        margin: 30px 20px;
    }
    .movie-list-container {
        padding: 0 30px;
    }
    .movie-list {
        height: 120px;
    }
    .movie-list-item img {
        width: 200px;
        height: 120px;
    }
    .movie-list-container {
        padding: 0 30px 40px;
    }
    .right {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 18.75px;
        height: 30px;
        z-index: 10;
    }
    .movie-list-wrapper {
        position: relative;
    }
    .fa-chevron-right:before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 30px;
    }
}
